*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

body{
     font-family: Helvetica Neue, Arial;
}

h1, h2{
       color:forestgreen;
}

h1{
   font-size:30px;
   margin-bottom:20px;
}

h2{
   font-size:20px;
   margin-bottom:10px;
}

.main-text{
  font-size:15px;
  text-align: justify;
  margin-bottom:20px;
}